/*------------------------------------*\
  #BANNER
\*------------------------------------*/

// No grid support.
// We use Flexbox as fallback.

.banner {
  width: 100%;
  height: 100vh;
  min-height: 600px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-top: 8rem;

  background-image: url(/assets/images/banner/banner-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: black;

  @include media-min("tablet") {
    padding-top: 8rem;
    background-position: -180px;
    background-size: auto;
  }

  @include media-min("wide") {
    padding-top: 8rem;
    padding-left: 50vw;
  }
}

.banner__title {
  padding-left: 1rem;
}

.banner__title-small {
  display: block;

  @include media-min("tablet") {
    display: none !important;
  }
}

.banner__title-large {
  display: none;

  @include media-min("tablet") {
    display: block;
  }
}

.banner__intro {
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;

  @include media-min("monitor") {
    visibility: visible;
  }
}

.banner__intro,
.banner__title {
  @include media-min("tablet") {
    width: 100%;
  }

  @include media-min("monitor") {
    width: 50%;
  }
}

.banner__category {
  visibility: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  font-weight: bold;

  &:hover {
    filter: grayscale(100%);
    background-size: 110%;
    transition: background-size 0.25s, filter 0.25s;
  }

  @include media-min("tablet") {
    width: 33.33%;
    visibility: visible;
  }
}

.banner__category--is-concerts {
  background-image: url(/assets/images/banner/category-concert.jpg);
}

.banner__category--is-operas {
  background-image: url(/assets/images/banner/category-opera.jpg);
}

.banner__category--is-dances {
  background-image: url(/assets/images/banner/category-dance.jpg);
}

.banner__more {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  visibility: hidden;
  text-align: center;

  @include media-min("tablet") {
    width: 100%;
    visibility: visible;
  }
}

// Grid support.

@supports (display: grid) {
  .banner {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-auto-rows: 1fr;
    padding-top: 0;
    padding-left: 0;

    @include media-min("tablet") {
      background-position: -180px;
      background-size: auto;
    }
  }

  .banner__title {
    grid-row: 2/2;
    grid-column: 1/5;

    @include media-min("monitor") {
      grid-row: 3/3;
      grid-column: 1/3;
    }

    @include media-min("wide") {
      grid-row: 2/3;
      grid-column: 3/4;
      padding-left: 0;
    }
  }

  .banner__category {
    width: 100%;
  }

  .banner__intro {
    width: 100%;
    grid-row: 3/3;
    grid-column: 1/5;

    @include media-min("monitor") {
      grid-row: 3/3;
      grid-column: 3/5;
    }

    @include media-min("wide") {
      grid-row: 2/3;
      grid-column: 4/5;
    }
  }

  .banner__category--is-concerts {
    grid-row: 4/4;
    grid-column: 1/2;

    @include media-min("monitor") {
      grid-row: 4/4;
      grid-column: 1/2;
    }

    @include media-min("wide") {
      grid-row: 3/4;
      grid-column: 3/4;
    }
  }

  .banner__category--is-operas {
    grid-row: 4/4;
    grid-column: 2/3;

    @include media-min("monitor") {
      grid-row: 4/4;
      grid-column: 2/3;
    }

    @include media-min("wide") {
      grid-row: 3/4;
      grid-column: 4/5;
    }
  }

  .banner__category--is-dances {
    grid-row: 4/4;
    grid-column: 3/5;

    @include media-min("monitor") {
      grid-row: 4/4;
      grid-column: 3/5;
    }

    @include media-min("wide") {
      grid-row: 4/5;
      grid-column: 3/5;
    }
  }

  .banner__more {
    grid-row: 5/5;
    grid-column: 1/5;

    @include media-min("tablet") {
      grid-row: 5/5;
      grid-column: 1/5;
    }

    @include media-min("wide") {
      grid-row: 4/5;
      grid-column: 2/3;
    }
  }
}
