/*------------------------------------*\
  #HERO
\*------------------------------------*/

.hero {
  width: 100%;
  height: 400px;

  background-repeat: no-repeat;
  background-size: cover;
  background-color: black;
  background-position: top;
}

.hero--is-artists {
  background-image: url(/assets/images/covers/artists.jpg);
}

.hero--is-about {
  background-image: url(/assets/images/covers/about.jpg);
}

.hero--is-contact {
  background-image: url(/assets/images/covers/contact.jpg);
}

.hero__title {
  text-align: center;
}
