/*------------------------------------*\
  #TERMS
\*------------------------------------*/

$bullet-size: 32px;

.terms {
  counter-reset: custom-counter;
  list-style: none;
}

.terms__item {
  position: relative;
  counter-increment: custom-counter;
  font-weight: bold;

  &:not(:last-child) {
    margin-bottom: 2rem;
  }

  &::before {
    position: absolute;
    width: $bullet-size;
    height: $bullet-size;
    top: 0;
    left: -1 * $bullet-size - 10px;

    content: counter(custom-counter);

    font-size: 1.5rem;
    font-weight: bold;
    line-height: $bullet-size - 5px;
    text-align: center;

    border: 2pt solid;
    border-radius: 50%;
  }
}

.terms__item-content {
  padding-left: 0;
  padding-top: 1rem;
  font-weight: normal;
  list-style: none;
}
