/*------------------------------------*\
  #CATALOG
\*------------------------------------*/

.catalog {
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  row-gap: 0.5rem;
  padding: 0;
  list-style: none;

  @include media-min("monitor") {
    grid-template-columns: repeat(3, 1fr);
    column-gap: 0.5rem;
  }
}

.catalog__item {
  width: 300px;
  text-align: center;
}

.catalog__item-image {
  height: 200px;
}
