/*------------------------------------*\
  #FLEX-CATALOG
\*------------------------------------*/

.flex-catalog {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;

  padding: 0;
  list-style: none;
}

.flex-catalog__item {
  width: 300px;
  text-align: center;

  &::before {
    position: absolute;
    display: inline-block;
    width: 60px;
    height: 60px;
    top: 80px;
    left: 120px;
    z-index: 1;
    content: url(/assets/images/play-button.svg);
  }

  &:hover::before {
    cursor: pointer;
    transform: scale(1.2);
    transition: transform 0.15s ease-in;
  }
}

.flex-catalog__item--is-frame {
  z-index: 100;
  background-color: black;
}

.flex-catalog__item-image {
  height: 200px;
  border: none;

  &:hover {
    cursor: pointer;
    filter: grayscale(90%);
    transition: filter 0.25s ease-in;
  }
}
