/*------------------------------------*\
  #PAGE
\*------------------------------------*/

.page {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.page__content {
  width: 100%;

  @include media-min("tablet") {
    max-width: 1024px;
  }
}

.page__section {
  width: 100%;
  padding: 2rem;
}

.page__section-separator {
  width: 250px;
  margin-bottom: 3rem;
}
