/*------------------------------------*\
  #BASE
\*------------------------------------*/

/**
* 1. Not supported by IE.
*/

* {
  scroll-behavior: smooth; /* [1] */
}

header {
  width: 100%;
}

footer {
  width: 100%;
  min-height: 20rem;
}

cite {
  font-style: normal;
}

.circle {
  float: left;
  padding-right: 2rem;
  border-radius: 50%;
  shape-outside: circle(50%);
}

.video-wide {
  width: 300px;
  height: 200px;

  @include media-min("tablet") {
    width: 600px;
    height: 350px;
  }
}
