<a href="contact.html" class="btn btn-primary" title="Click to buy tickets starting at ${{ price }} each">
    <i class="fa fa-ticket-alt pr-2"></i>${{ price }}
</a>
<a href="{{ url }}" class="btn btn-primary ml-1" title="Click to see a sample video of this performance">
    <i class="fa fa-video"></i>
</a>