<footer class="bg-primary">
    <div class="navbar navbar-expand-lg navbar-dark row no-gutters">

        <div class="col-12 col-lg-4 d-flex justify-content-center justify-content-lg-start">
            <a href="#top" class="btn btn-info rounded-circle" title="Go to the top">
                <i class="fa fa-chevron-up"></i>
            </a>
        </div>

        <ul
            class="navbar-nav js-navbar-menu d-flex col-12 col-lg-4 d-flex flex-column flex-lg-row align-items-center justify-content-lg-center">
            <li class="nav-item">
                <a class="nav-link" href="/" title="Click to go to the home page">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="artists.html"
                   title="Click to see all the artists that participate in the festival">Artists</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="about.html" title="Click to learn more about the festival and Lully">About</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="contact.html" title="Click to buy tickets or send us questions">Contact</a>
            </li>
        </ul>

        <ul class="navbar-nav col-12 col-lg-4 d-flex flex-row justify-content-center justify-content-lg-end">
            <li class="nav-item p-2">
                <a class="nav-link" href="https://www.facebook.com/BaroqueMusic/"
                   title="Click to visit the festival's Facebook page">
                    <i class="fab fa-facebook-f"></i></a>
            </li>
            <li class="nav-item p-2">
                <a class="nav-link" href="https://twitter.com/musicofbaroque?lang=en"
                   title="Click to to follow the festival on Twitter">
                    <i class="fab fa-twitter"></i>
                </a>
            </li>
            <li class="nav-item p-2">
                <a class="nav-link" href="https://www.youtube.com/channel/UCS7CucNrX3f6JCuIj_ugZpA"
                   title="Click to visit the festival's YouTube channel">
                    <i class="fab fa-youtube"></i>
                </a>
            </li>
        </ul>

    </div>

    <div class="d-flex flex-column align-items-center p-4">

        <p class="text-copyright text-center text-info">&copy;2020 <a class="text-info"
               href="https://cmrabet-hhc2-uoc.netlify.app/" title="Visit the author of this website">Chakir Mrabet</a>
        </p>

        <p class="text-copyright text-center text-info">
            All banner images and orchestras, operas and ballets pictures used in this website are from <a
               class="text-info" href="https://www.mezzo.tv" title="visit Mezzo.Tv website">Mezzo.Tv</a> and <a
               class="text-info"
               href="https://www.medici.tv/" title="Visit Medici.Tv website">Medici.Tv</a>.<br>
            Lully's portrait and bio information from <a class="text-info"
               href="https://en.wikipedia.org" title="Visit Wikipedia article about Lully">Wikipedia</a>.<br>
            All the information about schedules and locations shown on this website is fictional.
        </p>

    </div>

</footer>