<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Lully Festival 2020 - {{ page }}</title>
<link rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400;0,700;1,400&family=Oswald:wght@200;400;700&display=swap">
<link rel="icon" type="image/ico" href="./assets/images/lully.ico">
<link rel="stylesheet" type="text/css" href="./assets/styles/main.scss">