<div class="jumbotron jumbotron-fluid hero hero--is-{{class}} d-flex align-items-center">
    <div class="hero__title col-12 col-md-4 pl-md-4 text-center text-md-left">
        <h1 class="display-4 text-light font-weight-bold">{{title}}</h1>
        <p class="lead text-light font-weight-bold">{{intro}}</p>
    </div>
</div>