<nav class="navbar navbar-expand-lg navbar-dark navbar--is-main" id="top">
    <a class="navbar-brand" href="#">
        <img src="assets/images/lully-signature.png" alt="Lully's signature">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
        <ul class="navbar-nav js-navbar-menu">
            <li class="nav-item">
                <a class="nav-link" href="/" title="Click to go to the home page">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="artists.html"
                   title="Click to see all the artists that participate in the festival">Artists</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="about.html" title="Click to learn more about the festival and Lully">About</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="contact.html" title="Click to buy tickets or send us questions">Contact</a>
            </li>
        </ul>
    </div>
</nav>