/*------------------------------------*\
  #MEDIA
\*------------------------------------*/

@use "sass:map";

@function width-for($breakpoint-name, $max: false) {
  $width: map.get($breakpoints, $breakpoint-name);

  @if $max {
    @return "max-width: #{$width}";
  }
  
  @return "min-width: #{$width}";
}

/**
* Returns a @media(min:..) scope for the given breakpoint name.
* The name will be looked up from a sass map named $breakpoints that
* must have been previously declared.  
*/

@mixin media-min($breakpoint-name) {
  @media (width-for($breakpoint-name)) {
    @content;
  }
}

/**
* Returns a @media(max:..) scope for the given breakpoint name.
* The name will be looked up from a sass map named $breakpoints that
* must have been previously declared.  
*/

@mixin media-max($breakpoint-name) {
  @media (width-for($breakpoint-name, $max: true)) {
    @content;
  }
}
