/*------------------------------------*\
  #THEMING-TERMS OL LIST
\*------------------------------------*/

.terms__item {
  &::before {
    color: white;
    border-color: $primary-color;
    background-color: $primary-color;
  }
}
