/*------------------------------------*\
  #THEMING-NAVBAR
\*------------------------------------*/

.navbar--is-main {
  width: 100% !important;
  background-color: black;

  @include media-min("monitor") {
    position: absolute !important;
    background-color: transparent;
  }
}

.nav-item {
  &.active {
    border-bottom: 3pt solid $light-color;
  }
}
