/*------------------------------------*\
  #THEMING-TYPOGRAPHY
\*------------------------------------*/

@import "@fortawesome/fontawesome-free/css/all.css";

$font-family-base: "EB Garamond", serif;
$font-size-base: 1.5rem;
$font-weight-bold: 400;

$figure-caption-font-size: 1rem;

h1,
h2,
h3,
h4 {
  font-family: "Oswald", sans-serif;
}

.text-subtitle {
  font-size: 1.8rem;
}

.text-copyright {
  font-family: "Oswald", sans-serif;
  font-size: 1rem;
  text-transform: uppercase;
}

.figure-caption {
  text-transform: uppercase;
  word-spacing: 3px;
}

a.text-info {
  border-bottom: 1pt dotted;

  &:hover {
    text-decoration: none;
  }
}
